version: "3"
services:
  phantun:
    build: .
    image: phantun-docker
    container_name: phantun
    # Host networking is recommended for Phantun to manage iptables and dynamic ports
    # without rebuilding the container.
    network_mode: "host"
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - ./config:/etc/phantun
    restart: unless-stopped
    environment:
      - PHANTUN_CONFIG=/etc/phantun/config.json
